<!--A menu list of different kinds of food with sizes and prices --> 
<menu>
    <pizzas>
        <pizza name="Tomato &amp; Cheese">
	    <description>Tomato &amp; Cheese</description>
	    <size name="Small">
		<description>small</description>
                <price>$5.80</price>
	    </size>
	    <size name="Large">
		<description>large</description>
                <price>$9.75</price>
	    </size>
	</pizza>
	<pizza name="Onions">
	    <description>Onions</description>
	    <size name="Small">
		<description>small</description>
                <price>$5.80</price>
	    </size>
	    <size name="Large">
		<description>large</description>
                <price>$9.75</price>
	    </size>
	</pizza>
	<pizza name="Broccoli">
	    <description>Broccoli</description>
	    <size name="Small">
		<description>small</description>
                <price>$5.80</price>
	    </size>
	    <size name="Large">
		<description>large</description>
                <price>$9.75</price>
	    </size>
	</pizza>
	<pizza name="Three Aces Special">
	    <description>Three Aces Special</description>
	    <size type="Small">
		<description>small</description>
		    <price>$9.80</price>
	    </size>
	    <size type="Large">
		<description>large</description>
		<price>$15.80</price>
	    </size>
	</pizza>
	<pizza name="Mediterranean">
	    <description>Mediterranean (Sliced Tomatoes, Olives, Spinach, Fresh Garlic, Mozarella, &amp; Feta Cheese)</description>
	    <size type="Small">
		<description>small</description>
		    <price>$9.80</price>
	    </size>
	    <size type="Large">
		<description>large</description>
		<price>$15.80</price>
	    </size>
	</pizza>
	<pizza name="Vegetarian">
	    <description>Vegatarian (Sliced Tomatoes, Onion, Peppers, Mushrooms, Broccoli, &amp; Mozzarella)</description>
	    <size type="Small">
		<description>small</description>
		    <price>$9.80</price>
	    </size>
	    <size type="Large">
		<description>large</description>
		<price>$15.80</price>
	    </size>
	</pizza>
    </pizzas>
    <salads>
	<salad name="Garden">
	    <description>Garden</description>
	    <size type="Small">
		<description>small</description>
		    <price>$3.50</price>
	    </size>
	    <size type="Large">
		<description>large</description>
		<price>$4.50</price>
	    </size>
	</salad>
	<salad name="Greek">
	    <description>Greek</description>
	    <size type="Small">
		<description>small</description>
		    <price>$3.50</price>
	    </size>
	    <size type="Large">
		<description>large</description>
		<price>$4.50</price>
	    </size>
	</salad>
	<salad name="Garden">
	    <description>Garden</description>
	    <size type="Small">
		<description>small</description>
		    <price>$3.50</price>
	    </size>
	    <size type="Large">
		<description>large</description>
		<price>$4.50</price>
	    </size>
	</salad>
    </salads>
    <grinders>
	<grinder name="Meatless">
	    <description>Meatless</description>
	    <size type="Small">
		<description>small</description>
		    <price>$4.50</price>
	    </size>
	    <size type="Large">
		<description>large</description>
		<price>$4.95</price>
	    </size>
	</grinder>
	<grinder name="Hamburger">
	    <description>Hamburger</description>
	    <size type="Small">
		<description>small</description>
		    <price>$4.50</price>
	    </size>
	    <size type="Large">
		<description>large</description>
		<price>$4.95</price>
	    </size>
	</grinder>
	<grinder name="Cheesburger">
	    <description>Cheesburger</description>
	    <size type="Small">
		<description>small</description>
		    <price>$4.75</price>
	    </size>
	    <size type="Large">
		<description>large</description>
		<price>$5.75</price>
	    </size>
	</grinder>
    </grinders>
    <side_orders>
	<side_order name="Cheesburger">
	    <description>Cheesburger</description>
	    <price>$2.75</price>
	</side_order>
	<side_order name="Buffalo Wings">
	    <description>Buffalo Wings</description>
	    <price>$5.75</price>
	</side_order>
	<side_order name="Chicken Fingers">
	    <description>Chicken Fingers</description>
	    <price>$5.75</price>
	</side_order>
    </side_orders>
    <pastas>
	<pasta name="Spagetti with Meatball">
	    <description>Spagetti with Meat Ball</description>
	    <price>$6.45</price>
	</pasta>
        <pasta name="Ziti with Sausage">
	    <description>Ziti with Sausage</description>
	    <price>$6.45</price>
	</pasta>
	<pasta name="Veggie Lasagna">
	    <description>Veggie Lasagna</description>
	    <price>$7.25</price>
	</pasta>
    </pastas>
    <dinners>
	<dinner name="Double Cheesburger Plate">
	    <description>Double Cheesburger Plate</description>
	    <price>$5.75</price>
	</dinner>
	<dinner name="Chicken Wing Dinner">
	    <description>Chicken Wing Dinner</description>
	    <price>$7.25</price>
	</dinner>
	<dinner name="Gyro Plate">
	    <description>Gyro Plate</description>
	    <price>$7.25</price>
	</dinner>
    </dinners>
    <calzones>
	<calzone name="Vegetarian">
	    <description>Vegetarian</description>
	    <price>$7.35</price>
	</calzone>
	<calzone name="Sausage">
	    <description>Sausage</description>
	    <price>$7.35</price>
	</calzone>
	<calzone name="Chicken Cutlet">
	    <description>Chicken Cutlet</description>
	    <price>$7.35</price>
	</calzone>
    </calzones>
    <wraps>
	<wrap name="Turkey Club Wrap">
	    <description>Turkey Club Wrap (Turkey, Cheese, Lettuce, Tomato, Onion, Mayo)</description>
	    <price>$4.95</price>
	</wrap>
	<wrap name="Chicken Cobb">
	    <description>Chicken Cobb (Grilled Chicken, Bacon, Cheese, Lettuce, Tomatop, Onion, Honey Mustard)</description>
	    <price>$4.95</price>
	</wrap>
	<wrap name="Greek Supreme">
	    <description>Greek Supreme (Feta Cheese, Black Olives, Lettuce, Tomato, Onion, Greek Dressing)</description>
	    <price>$4.95</price>
	</wrap>
    </wraps>
</menu>
