<menu>
    <pizzas>
        <pizza name="Tomato &amp; Cheese">
	    <description>Tomato &amp; Cheese</description>
	    <size name="Small">
		<description>Small</description>
                <price>5.80</price>
	    </size>
	    <size name="Large">
		<description>Large</description>
                <price>9.75</price>
	    </size>
	</pizza>
    </pizzas>
</menu>

<!--
	<pizza name="Onions">
	    <description>Onions</description>
	    <size type="Small">
		<xs:element name="price" type="xs:decimal">
		    <price>6.85</price>
		</xs:element>
	    </size>
	    <size type="Large">
		<xs:element name="price" type="xs:decimal">
		    <price>10.85</price>
		</xs:element>
	    </size>
	</pizza>
	<pizza name="Broccoli">
	    <description>Broccoli</description>
	    <size type="Small">
		<xs:element name="price" type="xs:decimal">
		    <price>6.85</price>
		</xs:element>
	    </size>
	    <size type="Large">
		<xs:element name="price" type="xs:decimal">
		    <price>10.85</price>
		</xs:element>
	    </size>
	</pizza>
	<pizza name="Three Aces Special">
	    <description>Three Aces Special</description>
	    <size type="Small">
		<xs:element name="price" type="xs:decimal">
		    <price>9.80</price>
		</xs:element>
	    </size>
	    <size type="Large">
		<xs:element name="price" type="xs:decimal">
		    <price>15.80</price>
		</xs:element>
	    </size>
	</pizza>
	<pizza name="Mediterranean">
	    <description>Mediterranean (Sliced Tomatoes, Olives, Spinach, Fresh Garlic, Mozarella, &amp; Feta Cheese)</description>
	    <size type="Small">
		<xs:element name="price" type="xs:decimal">
		    <price>9.80</price>
		</xs:element>
	    </size>
	    <size type="Large">
		<xs:element name="price" type="xs:decimal">
		    <price>15.80</price>
		</xs:element>
	    </size>
	</pizza>
	<pizza name="Vegetarian">
	    <description>Vegatarian (Sliced Tomatoes, Onion, Peppers, Mushrooms, Broccoli, &amp; Mozzarella)</description>
	    <size type="Small">
		<xs:element name="price" type="xs:decimal">
		    <price>9.80</price>
		</xs:element>
	    </size>
	    <size type="Large">
		<xs:element name="price" type="xs:decimal">
		    <price>15.80</price>
		</xs:element>
	    </size>
	</pizza>
    </pizzas>
</menu>
-->
